<h1>About Me</h1>

<hr>

<div class="row">
  <div class='col-md-4'>
    <%= image_tag "profile.png", width: 300, alt: "profile_image" %>
  </div>
  
<div class='col-md-8'>
<p>Hello, my name is Gavin Thomas and fill space ill do this later</p>
</div>