<div class="app-card-container">
  <div class="card">
    <h1>Would you like to contact me?</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
       <div class="about-design">
         <h3>Home Address</h3>
    
       <p>13703 Brown Farm Lane, Draper, Utah</p>
    
       <h3>Phone</h3>
    
       <p><%= number_to_phone "8016523730" %></p>
      
       <p><a href="mailto:emailgavinthomas@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
       </div>
      
    </div>
    
    
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.7735322485105!2d-111.88210298425207!3d40.50239067935526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875280b542c7d573%3A0xebf085807c4cef5!2s13703+Brown+Farm+Ln%2C+Draper%2C+UT+84020!5e0!3m2!1sen!2sus!4v1500301166128" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
 </div>
</div>