<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mastfoot">
    <div class="inner">
        
              <%= copyright_generator %> 
      <i class = "fa fa-spinner fa-pulse fa-lg fa-fw slow-spin "></i>
        
   </div>
</div>