<div class="app-nav">
<div class="masthead clearfix">
  <div class="inner">
    
    <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link', 'span' %>
        <%= login_helper 'nav-link' %>
    </nav>
    <h5 class="gav-t">Gavin Thomas</h5>
  </div>
  </div>
</div>
