        <footer class="blog-footer">
          <p>
            <%= copyright_generator %>
            <%= render 'shared/shield' %>
          </p>
            <a href="#">Back to top</a>
          </p>
        </footer>