        <footer class="blog-footer">
          <p>
            <%= copyright_generator %>
            <i class="fa fa-shield"></i>
          </p>
            <a href="#">Back to top</a>
          </p>
        </footer>